<%if @user.admin?%>
  <h3>ADMIN</h3>
<%end%>


  <%= @message %>

<%= @user.name %>

Nausea: <%= @user.nausea %>

<h3>Mood</h3>
Happiness: <%= @user.happiness %>
<%= @mood %>

Tickets: <%= @user.tickets %>

Height: <%= @user.height %>

<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out", signout_path, method: :post %>
